<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>geometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>logging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>workbench.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>workbench_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35C573BE7C1E4FBCA7E86428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B0AD7CE4C1438B8D163B34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69517707E73A44A79E98CF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8575A83A485047C3BF7BDA00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86A99486C8F94927812D3625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2E463AC1A5F44DF8BA03AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
